
header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
  }

body {

  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.HeaderLogo {
  display: flex;
  align-items: center;
  width: 80%;
}

.HeaderLogo span {
  color: turquoise;
  margin-bottom: 15px;
}


.Heading {
  color: turquoise;
  margin-left: 3px;
}
----------
.First {
 width:300px;
}

.Second {
  width: 300px;
}

.DivColum {
  padding-top: 85px;
  width: 1540px;
  margin: 0 20px 30px 20px;
  display: flex;
}

.Column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.Top {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 500px;
  font-size: 20px;
  align-items: center;
  padding-left: 20px; 
}

.Blank {
  color: white;
}

.Spin {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.Cam {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.Cat {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}
